<div class="login">
    <form action="/login" method="post">
        <div class="content-login">
            <h3>Login</h3>
            <div class="form-group">
                <label for="" class="form-label">Username</label>
                <input type="text" class="form-input" id="username" value="{{username}}" name="username" placeholder="Enter username">
            </div>
            <div class="form-group">
                <label for="" class="form-label">Password</label>
                <div class="input-pass">
                    <input type="password" class="form-input" id="password" name="password" placeholder="Enter password">
                    <i class="fi fi-rr-eye  show-pass"></i>
                    <i class="fi fi-rr-eye-crossed  hide-pass"></i>
                </div>
            </div>
            {{#if error}}
                <div class="error-message">{{error}}</div>  
            {{/if}}
            <div class="btn-login">
                <button type="submit" id="submit-login">Login</button>
                <i class="fi fi-rr-arrow-right"></i>
            </div>
            <span>Don't have an account yet? <strong><a href="./signup">Sign Up</a></strong></span>
        </div>
    </form>
</div>